//VARIABLES
$main-color: #00AEF0
$font-stack: 16px
$white: #f7f7f7


//MIXINS
=loopCarousel()
    height: 90vh
    background-size: cover
    background-position: center left 
    background-repeat: no-repeat

=button($rad,$padding,$bg,$color)
    -webkit-border-radius: $rad
    -moz-border-radius: $rad
    -ms-border-radius: $rad
    border-radius: $rad

    padding: $padding
    background: $bg
    color: $color
    text-decoration: none
    text-align: center    
    
html, body
    color: #555
    
h1
    font-size: 4em
    padding-top: 60px
    font-weight: 700

h2
    font-size: 2.4em
    margin-bottom: 30px
    text-align: center
    

/*-------------------------------- Nav ----------------------------------------------*/   
    
.top-bar
    position: relative
    background: $main-color
    height: 35px
    overflow: hidden
    padding-top: 6px
    ul li a
        color: $white
.navbar-static-top
    background: $white
    height: 90px
    border: none
    
.navbar-brand
    padding-top: 35px
    font-size: 2.4em
    font-weight: 700
    
.navbar-right
    padding-top: 20px
    
    
/*-------------------------------- Home Banner ----------------------------------------------*/   


.owl-carousel
    position: relative
    margin-top: -40px
    margin-bottom: 80px
    .item 
        width: 1400px
          
.loop-1
    +loopCarousel()
    background: url(../img/home-slideshow.jpg)
    p
        font-size: 1.4em
        margin-bottom: 40px
    a
        +button(30px, 20px 30px, $main-color, #f7f7f7)
        font-size: 1.1em
        font-weight: 700
        text-transform: uppercase
        transition: all .2 ease
        &:hover
            background: none
            color: $main-color
            border: 1px solid $main-color    

.loop-2
    +loopCarousel()
    background: url(../img/3.jpg)
    p
        font-size: 1.4em
        margin-bottom: 40px
        margin-right: 15px
    a
        +button(30px, 20px 30px, $main-color, #f7f7f7)
        font-size: 1.1em
        font-weight: 700
        text-transform: uppercase
        transition: all .2 ease
        &:hover
            background: none
            color: $main-color
            border: 1px solid $main-color    
        
        
/*-------------------------------- About Section ----------------------------------------------*/   

        
.about
    margin-bottom: 50px
    h2
        span
            color: $main-color
    p
        color: #555
        font-size: 1.6em
        letter-spacing: 2px
        margin-bottom: 20px        
        
        
/*-------------------------------- How we Works Section ----------------------------------------------*/   

.vo-works
    margin-bottom: 80px
    h2
        margin-bottom: 40px
        span
            color: $main-color
    i
        color: $main-color
    .vo-works-icon-plus-circle 
        border-width: 2px
        border-style: solid
        height: 100px
        width: 100px
        border-radius: 50%
        margin: 0 auto 25px auto
        padding-top: 30px
    h4
        font-size: 1.6em
        margin-bottom: 20px
        
        
        
/*-------------------------------- How we Works Section ----------------------------------------------*/   

.vo-services
    margin-bottom: 80px
    h2
        margin-bottom: 40px
        span
            color: $main-color
.vo-services-block img
    width: 100%

.vo-we-serve>ul>li>i 
    color: $main-color
    font-size: 1.4em
    padding-right: 15px
    
.vo-we-serve li a
    font-size: 1.4em
    color: #555
    line-height: 40px

   
  