html, body {
  color: #555; }

h1 {
  font-size: 4em;
  padding-top: 155px;
  font-weight: 700; }

h2 {
  font-size: 2.4em;
  margin-bottom: 30px;
  text-align: center; }

hr {
  margin-top: 50px; }

/*-------------------------------- Nav ---------------------------------------------- */
.top-bar {
  position: relative;
  background: #00AEF0;
  height: 35px;
  overflow: hidden;
  padding-top: 6px; }
  .top-bar ul li a {
    color: #f7f7f7; }

.navbar-fixed-top {
  top: auto; }

.navbar-brand {
  padding-top: 35px;
  font-size: 2em;
  font-weight: 700;
  color: #00AEF0 !important; }

.custom-navbar .navbar-toggle {
  margin-top: 27px;
  margin-left: 10px; }

.navbar-offcanvas .navbar-nav {
  padding: 20px 65px 0 0;
  margin: 0px 33px;
  float: right;
  font-size: 1.2em; }

.navmenu-default, .navbar-default .navbar-offcanvas {
  border-color: #e3e3e3;
  z-index: 999999; }

.affix {
  top: 0; }

.navbar-default {
  height: 80px;
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

.navbar-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812; }

.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase; }

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222; }

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #00AEF0; }

.navbar-default.affix {
  height: 60px;
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05); }

.navbar-default.affix .navbar-header .navbar-brand {
  font-size: 16px;
  padding-top: 23px; }

.navbar-default.affix .nav > li > a,
.navbar-default.affix .nav > li > a:focus {
  color: #222222;
  margin-top: -10px; }

.navbar-default.affix .nav > li > a:hover,
.navbar-default.affix .nav > li > a:focus:hover {
  color: #00AEF0; }

.navbar-default.affix .navbar-toggle {
  margin-top: 17px; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #00AEF0 !important;
  text-decoration: none;
  background-color: transparent; }

/*-------------------------------- Home Banner ---------------------------------------------- */
#banner-slide {
  position: relative;
  display: block;
  margin-bottom: 60px; }

.vo-banner-content {
  position: absolute;
  top: 0;
  left: 60px;
  padding-left: 15px;
  padding-right: 15px; }
  .vo-banner-content h1 {
    margin-top: 50px; }
  .vo-banner-content a {
    margin-left: 15px;
    border-radius: 50px;
    padding: 15px 30px;
    background: #00AEF0;
    color: #f7f7f7;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    top: 20px;
    text-transform: uppercase; }
  .vo-banner-content p {
    margin-left: 15px;
    font-size: 1.4em;
    margin-bottom: 40px; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: 90vh;
  margin-top: 78px; }

.owl-theme .owl-nav,
.owl-theme .owl-dots .owl-dot {
  display: none; }

/*-------------------------------- About Section ---------------------------------------------- */
.about {
  margin-bottom: 50px; }
  .about h2 span {
    color: #00AEF0; }
  .about p {
    color: #555;
    font-size: 1.6em;
    letter-spacing: 2px;
    margin-bottom: 20px; }

.vo-about-content {
  margin-top: 60px; }
  .vo-about-content img {
    width: 100%; }
  .vo-about-content p {
    font-size: 0.9em; }

/*-------------------------------- How we Works Section ---------------------------------------------- */
.vo-works {
  margin-bottom: 80px; }
  .vo-works h2 {
    margin-bottom: 40px; }
    .vo-works h2 span {
      color: #00AEF0; }
  .vo-works i {
    color: #00AEF0; }
  .vo-works .vo-works-icon-plus-circle {
    border-width: 2px;
    border-style: solid;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto 25px auto;
    padding-top: 30px; }
  .vo-works h4 {
    font-size: 1.6em;
    margin-bottom: 20px; }

/*-------------------------------- Service Section ---------------------------------------------- */
.vo-services {
  margin-bottom: 80px; }
  .vo-services h2 {
    margin-bottom: 40px; }
    .vo-services h2 span {
      color: #00AEF0; }

.vo-services-block {
  margin-bottom: 30px; }
  .vo-services-block img {
    width: 100%; }

.vo-we-serve {
  margin-bottom: 30px; }
  .vo-we-serve li a {
    font-size: 1.4em;
    color: #555;
    line-height: 40px; }

.vo-we-serve > ul > li > i {
  color: #00AEF0;
  font-size: 1.4em;
  padding-right: 15px; }

.vo-service-bg-call {
  background: url(../img/m31.jpg);
  height: 40vh;
  background-size: cover;
  background-position: center left;
  margin-top: 50px; }
  .vo-service-bg-call h4 {
    color: #f7f7f7;
    font-size: 1.8em;
    padding: 100px 0 50px 0;
    margin-left: 50px; }
  .vo-service-bg-call .button-contact {
    margin: 115px 0 50px 0; }
  .vo-service-bg-call a {
    border-radius: 0;
    padding: 20px 30px;
    background: none;
    color: #f7f7f7;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    border: 1px solid #f7f7f7;
    text-transform: uppercase;
    -webkit-transition: all 0.2 ease;
            transition: all 0.2 ease; }
    .vo-service-bg-call a:hover {
      background: #00AEF0;
      color: #f7f7f7;
      border: 1px solid #00AEF0; }

/*-------------------------------- Support ---------------------------------------------- */
.vo-support {
  margin-bottom: 80px; }
  .vo-support h2 {
    margin-bottom: 20px; }
    .vo-support h2 span {
      color: #00AEF0; }

.vo-support-content {
  margin-top: 50px; }
  .vo-support-content h4 {
    font-size: 1.4em; }
  .vo-support-content h3 {
    font-size: 2em;
    margin-bottom: 20px; }

.panel-body p {
  font-size: 1.2em;
  line-height: 1.6em; }

/*-------------------------------- Careers ---------------------------------------------- */
.vo-career {
  margin-bottom: 100px; }
  .vo-career h2 {
    margin-bottom: 20px; }
    .vo-career h2 span {
      color: #00AEF0; }
  .vo-career h4 {
    margin-bottom: 30px; }
  .vo-career p {
    margin-bottom: 60px; }

.button-career {
  margin-bottom: 50px; }
  .button-career a {
    border-radius: 0;
    padding: 20px 30px;
    background: #00AEF0;
    color: #f7f7f7;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    border: 1px solid #00AEF0;
    text-transform: uppercase;
    -webkit-transition: all 0.2 ease;
            transition: all 0.2 ease; }
    .button-career a:hover {
      background: #007dac;
      color: #f7f7f7;
      border: 1px solid #007dac; }

/*-------------------------------- Contacts ---------------------------------------------- */
.vo-contact h2 {
  margin-bottom: 60px; }
.vo-contact button {
  border-radius: 0;
  padding: 15px 30px;
  background: #00AEF0;
  color: #f7f7f7;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
  font-weight: 700;
  border: 1px solid #00AEF0;
  text-transform: uppercase;
  -webkit-transition: all 0.2 ease;
          transition: all 0.2 ease; }
  .vo-contact button:hover {
    background: #007dac;
    color: #f7f7f7;
    border: 1px solid #007dac; }

.vo-contact-form {
  padding-left: 40px; }

form {
  margin-bottom: 50px; }
  form label {
    margin-left: 4px;
    font-size: 1.3em; }
  form .form-control {
    padding: 20px 14px;
    font-size: 16px; }
  form:after {
    content: "";
    clear: both;
    display: block; }

.vo-contact-map {
  margin-top: 70px; }

.media-body p {
  margin-left: 10px;
  font-size: 1.2em;
  color: #848484; }

.media-heading {
  font-size: 1.6em;
  margin-left: 10px;
  margin-bottom: 10px; }

.vo-contact-request {
  padding: 30px 0 50px 0;
  background: #007dac; }
  .vo-contact-request h4 {
    font-size: 2em;
    color: #f7f7f7;
    margin-bottom: 30px; }
  .vo-contact-request a {
    border-radius: 0;
    padding: 15px 20px;
    background: none;
    color: #f7f7f7;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    border: 1px solid #f7f7f7;
    text-transform: uppercase;
    -webkit-transition: all 0.2 ease;
            transition: all 0.2 ease; }
    .vo-contact-request a:hover {
      background: #00AEF0;
      color: #f7f7f7;
      border: 1px solid #00AEF0; }

/*-------------------------------- Footer ---------------------------------------------- */
footer {
  padding: 40px 0 0 0;
  background: #1a1e21;
  color: #f7f7f7; }
  footer h4 {
    font-size: 1.6em; }
  footer ul li,
  footer ul li a,
  footer p {
    color: #777; }

.footer-social {
  margin-top: 30px;
  padding: 20px 0 10px 0; }

/*-------------------------------- Media Queries ---------------------------------------------- */
@media screen and (max-width: 1000px) {
  .vo-service-bg-call h4 {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0 20px 0; }
  .vo-service-bg-call .button-contact {
    text-align: center;
    margin: 20px auto; } }
@media screen and (max-width: 760px) {
  .vo-banner-content {
    left: 0px; } }
@media screen and (max-width: 340px) {
  .top-bar {
    height: 60px; } }

/*# sourceMappingURL=style.css.map */